.container {
  display: flex;
  align-items: flex-start;
  min-height: 1000px;
  width: 100%;
  img {
    width: 300px;
    padding: 15px 25px;
    background-color: #fff;
    border: 2px dashed #fe5d42;
    margin: 10px;
    border-radius: 50px;
    margin-right: 50px;
  }
  .information {
    width: 100%;
    border: 2px dashed #e2e2e2;
    margin: 10px;
    padding: 25px;
    border-radius: 50px;
    h3 {
      color: #fe5d42;
      font-size: 1.5rem;
      margin-bottom: 40px;
    }
    svg {
      margin-right: 10px;
      color: #fe5d42;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
    a {
      display: flex;
      align-items: center;
      background-color: #fe5d42;
      padding: 5px 10px;
      color: #fff;
      border-radius: 12px;
      svg{
      color: #fff;

      margin-right: 10px;

      }
    }
  }
  .description {
    color: gray;
    width: 500px;
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  .category {
    margin-bottom: 10px;
    svg {
      margin-right: 10px;
      color: #fe5d42;
    }
  }
}
